@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {

    /* Fonts */
    --font-montserrat: Montserrat;

    /* font sizes */
    --font-size-sm: 14px;
    --font-size-2xl: 21px;

    /* Paddings */
    --padding-9xl: 28px;

    /* Border radiuses */
    --br-xl: 20px;

    /* Figma Variables */

    /* Color Variables */
    --Black: #000;
    --Light-Grey: #d5d5d5;
    --Very-Light-Grey: #f3f3f3;
    --White: #fff;

    /* Number Variables */
    --Corner-Full: 1000px;

}

p, li, a, h1, h2, h3, h4, h5, h6, label, button, input, textarea{
    font-family: 'Montserrat', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
